{% extends '@EasyAdmin/crud/detail.html.twig' %}

{% block main %}
  {{ parent() }}

  <div class="extra-content">
    <h3 class="mb-4">{{ 'dashboard.yourCourses'|trans }}</h3>
    <table style="width: 100%;">
      <tr style="background-color: #171717;">
        <th style="padding: 10px;">{{ 'courses.category'|trans }}</th>
        <th style="padding: 10px;">{{ 'courses.practiceHours'|trans }}</th>
        <th style="padding: 10px;">{{ 'courses.theoryHours'|trans }}</th>
        <th style="padding: 10px;">{{ 'courses.status'|trans }}</th>
        <th style="padding: 10px;">{{ 'courses.started'|trans }}</th>
        <th style="padding: 10px;">{{ 'courses.completed'|trans }}</th>
        <th style="padding: 10px;">{{ 'courses.instructor'|trans }}</th>
        <th style="padding: 10px;"></th>
      </tr>
      {% for course in courses %}
        <tr style="border-top: 1px solid #262626;">
          <td style="padding: 10px;">{{ course.category.name }}</td>
          <td style="padding: 10px;">
            <b>{{ course.courseHoursSum }}</b> / {{
              course.courseHours
            }} h
          </td>
          <td style="padding: 10px;">
            <b>{{ course.theoryHoursSum }}</b> / {{ course.theoryHours }}
            h
          </td>
          <td style="padding: 10px;"><b>{{ course.status.value }}</b></td>
          <td style="padding: 10px;">
            {{ course.startAt
              ? course.startAt|date('Y-m-d H:i:s')
              : 'Brak' }}
          </td>
          <td style="padding: 10px;">
            {{ course.endedAt
              ? course.endedAt|date('Y-m-d H:i:s')
              : 'Brak' }}
          </td>
          <td style="padding: 10px;">
            {% if course.employee %}
              <a
                href="{{ path(
                  'dashboard',
                  {
                    crudAction: 'detail',
                    crudControllerFqcn: 'App\\Controller\\UserCrudController',
                    entityId: course.employee.id
                  }
                )|raw }}"
              >
                {{ course.employee.username }}
              </a>
            {% else %}
              Brak
            {% endif %}
          </td>
          <td style="padding: 10px;">
            <a
              href="{{ path(
                'dashboard',
                {
                  crudAction: 'detail',
                  crudControllerFqcn: 'App\\Controller\\CourseCrudController',
                  entityId: course.id
                }
              )|raw }}"
            >
              Zobacz
            </a>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>

  <div class="mt-3" style="display:flex;gap:20px;">
    {% include 'course/schedule-table.html.twig' %}
    {% include 'theory/table.html.twig' %}
  </div>
{% endblock %}
