{% extends 'base.html.twig' %}

{% block title %}Pojazd index{% endblock %}

{% block body %}
    <h1>Pojazd index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nazwa</th>
                <th>Marka</th>
                <th>Rok</th>
                <th>Stan</th>
                <th>Kategoria</th>
                <th>Vin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pojazd in pojazds %}
            <tr>
                <td>{{ pojazd.id }}</td>
                <td>{{ pojazd.nazwa }}</td>
                <td>{{ pojazd.marka }}</td>
                <td>{{ pojazd.rok }}</td>
                <td>{{ pojazd.stan }}</td>
                <td>{{ pojazd.kategoria }}</td>
                <td>{{ pojazd.vin }}</td>
                <td>
                    <a href="{{ path('app_pojazd_show', {'id': pojazd.id}) }}">show</a>
                    <a href="{{ path('app_pojazd_edit', {'id': pojazd.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_pojazd_new') }}">Create new</a>
{% endblock %}
