{% extends '@EasyAdmin/crud/detail.html.twig' %}

{% block main %}

<h3>{{instruktor.username}} - {{instruktor.imie}} {{instruktor.nazwisko}}</h3>
<h5>Tel. <a href="tel:{{instruktor.numerTelefonu}}">{{instruktor.numerTelefonu}}</a></h5>
<h5>Email. <a href="mailto:{{instruktor.email}}">{{instruktor.email}}</a></h5>

{% endblock %}