<div style="display: grid; grid-template-columns: repeat(auto-fill, 400px)">
    {% if kursyPraktykant is defined %}
        {% for kurs in kursyPraktykant %}
        <div style="padding: 20px; border: 1px solid #262626;">
            <ul>
                <li>
                Kategoria: {{kurs.kategoria.value}}
                </li>
                {% if kurs.teoria %}
                <li>
                    Godziny teorii: {{kurs.czas_trwania_teorii}}/{{kurs.teoriaGodziny}} h
                </li>
                {% endif %}
                <li>
                    Godziny praktyki: {{kurs.czas_trwania_praktyki}}/{{kurs.praktykaGodziny}}
                </li>
                {% if kurs.instruktor %}
                <li>
                    Opiekun: {{kurs.instruktor.username}} - <b>{{kurs.instruktor.imie}} {{kurs.instruktor.nazwisko}}</b>
                    <br/> tel. <a href="tel:+48{{kurs.instruktor.numerTelefonu}}">{{kurs.instruktor.numerTelefonu}}</a>
                </li>
                {% endif %}
            </ul>
        </div>
        {% endfor %}
    {% endif %}
</div>