<div class="extra-content">
    <h3 class="mb-4">Ostatnie jazdy</h3>
    <table style="width: 100%;">
        <tr style="background-color: #171717;">
            <th style="padding: 10px;">Data</th>
            <th style="padding: 10px;">Kat</th>
            <th style="padding: 10px;">Liczba godzin</th>
            {% if is_granted('ROLE_PRAKTYKANT') == false %}
                <th style="padding: 10px;">Komentarz</th>
            {% endif %}
            <th style="padding: 10px;">Instruktor</th>
            <th style="padding: 10px;"></th>
        </tr>
        {% for jazda in jazdy %}
            <tr style="border-top: 1px solid #262626;">
                <td style="padding: 10px;">{{jazda.start|date('Y-m-d H:i:s')}}</td>
                <td style="padding: 10px;">{{jazda.kurs.kategoria.value}}</td>
                <td style="padding: 10px;"><b>{{jazda.czas_trwania_praktyki}}</b> / {{jazda.razem_czas_trwania_praktyki}} h</td>
                {% if is_granted('ROLE_PRAKTYKANT') == false %}
                    <td style="padding: 10px;"><b>{{jazda.komentarz}}</b></td>
                {% endif %}
                   <td style="padding: 10px;">
                    <a href="{{path('dashboard', {'crudAction': 'detail', 'crudControllerFqcn': 'App\\Controller\\UserCrudController', 'entityId': jazda.instruktor.id})|raw}}">{{jazda.instruktor.username}}</a>
                </td>
                <td style="padding: 10px;">
                    <a href="{{path('dashboard', {'crudAction': 'detail', 'crudControllerFqcn': 'App\\Controller\\KursHarmonogramCrudController', 'entityId': jazda.id})|raw}}">Zobacz</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>