{% extends '@EasyAdmin/crud/detail.html.twig' %}

{% block main %}
    {{ parent() }}

<div class="extra-content">
    <h3 class="mb-4">Kursy praktykanta</h3>
    <table style="width: 100%;">
        <tr style="background-color: #171717;">
            <th style="padding: 10px;">Kat</th>
            <th style="padding: 10px;">Liczba godzin praktyka</th>
            <th style="padding: 10px;">Liczba godzin teoria</th>
            <th style="padding: 10px;">Status</th>
            <th style="padding: 10px;">Rozpoczęty</th>
            <th style="padding: 10px;">Zakończony</th>
            <th style="padding: 10px;">Opiekun</th>
            <th style="padding: 10px;"></th>
        </tr>
        {% for kurs in kursyPraktykant %}
            <tr style="border-top: 1px solid #262626;">
                <td style="padding: 10px;">{{kurs.kategoria.value}}</td>
                <td style="padding: 10px;"><b>{{kurs.czas_trwania_praktyki}}</b> / {{kurs.praktykaGodziny}} h</td>
                <td style="padding: 10px;"><b>{{kurs.czas_trwania_teorii}}</b> / {{kurs.teoriaGodziny}} h</td>
                <td style="padding: 10px;"><b>{{kurs.status.value}}</b></td>
                <td style="padding: 10px;">{{kurs.startKurs ? kurs.startKurs|date('Y-m-d H:i:s') : 'Brak'}}</td>
                <td style="padding: 10px;">{{kurs.endKurs ? kurs.endKurs|date('Y-m-d H:i:s') : 'Brak'}}</td>
                <td style="padding: 10px;">
                {% if kurs.instruktor  %}
                  <a href="{{path('dashboard', {'crudAction': 'detail', 'crudControllerFqcn': 'App\\Controller\\UserCrudController', 'entityId': kurs.instruktor.id})|raw}}">{{kurs.instruktor.username}}</a>
                {% else %}
                  Brak
                {% endif %}
                </td>
                <td style="padding: 10px;">
                  <a href="{{path('dashboard', {'crudAction': 'detail', 'crudControllerFqcn': 'App\\Controller\\KursCrudController', 'entityId': kurs.id
                  })|raw}}">Zobacz</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>

<div class="mt-3" style="display:flex;gap:20px;">
  {% include 'ostatnie-jazdy-element.html.twig' %}
  {% include 'ostatnia-teoria-element.html.twig' %}
</div>

{% endblock %}